# Environment variables
.env
.env.local
frontend/.streamlit/secret.toml

# OS files
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
ai/
venv/
.env/

# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl